streamlit
opencv-python-headless
matplotlib
numpy
pandas
requests
torch
torchvision
Pillow
transformers
safetensors
timm
reportlab
PytorchWildlife
soundfile
librosa
scipy
scikit-learn
