# JaguarID Edge Monitoring Node + MiewID
streamlit
opencv-python-headless
matplotlib
numpy
pandas
requests
torch
torchvision
Pillow
transformers
safetensors
timm
reportlab
PytorchWildlife
